<h1><%= @shoe.id ? 'Edit Shoe' : 'Create Shoe' %></h1>
<hr />
<%= form_for [@department, @shoe] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <%= f.submit %>
<% end %>
